*{
    margin: 0;
    text-align: center;
}
header,footer{
    background-color: black;
    color: white;
    height: 10vh;
    line-height: 10vh;
}
nav{
    background-color: blanchedalmond;
    height: 100vh;
    float: left;
    width: 300px;
}
article{
    background-color: aliceblue;
    flex: 2;
}
aside{
    background-color: aqua;
    flex: 1;
}
main{
    display: flex;
    justify-content: baseline;
    height: 80vh;
    line-height: 80vh;
}