#header{
    background-color: navajowhite;
    padding: 5px;
}
h1{
   color: blue; 
   text-align: center;
}
.isi span{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 4.5em;
}
blockquote{
    background-color:yellow;
    text-align: center;
}
span#soekarno{
    font-style: italic;
}
.ngvn{
    text-align:center;
    padding: 10px;
}
h2{
    color: blue;
    padding: 5px;
}
img{
    width: 20%;
}
.gambar{
    text-align: center;
}
.koleksi{
    text-align: center;
}